---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sivua ei löytynyt">
  <div class="min-h-[70vh] flex items-center justify-center py-16 px-4">
    <div class="text-center">
      <h1 class="text-6xl md:text-8xl font-heading font-bold text-secondary-black mb-4">404</h1>
      <h2 class="text-2xl md:text-3xl font-bold text-secondary-black  mb-6">Sivua ei löytynyt</h2>
      <p class="text-secondary-black max-w-md mx-auto mb-8">
        Etsimääsi sivua ei valitettavasti löytynyt. Se on saattanut siirtyä toiseen osoitteeseen tai poistua kokonaan.
      </p>
      
      <div class="flex flex-col sm:flex-row justify-center gap-4">
        <a href="/" class="text-secondary-black px-6 py-3 rounded-md font-semibold hover:underline transition-all">
          Palaa etusivulle
        </a>
      </div>
    </div>
  </div>
</Layout>